* {
  margin: 0%;
}

@font-face {
  font-family: R-Black;
  src: url("./assets/fonts/rubik/Rubik-Black.ttf");
}
@font-face {
  font-family: R-Light;
  src: url("./assets/fonts/rubik/Rubik-Light.ttf");
}
@font-face {
  font-family: R-Black-Bold;
  src: url("./assets/fonts/rubik/Rubik-Bold.ttf");
}
@font-face {
  font-family: R-Black-Extra;
  src: url("./assets/fonts/rubik/Rubik-ExtraBold.ttf");
}
@font-face {
  font-family: R-Medium;
  src: url("./assets/fonts/rubik/Rubik-Medium.ttf");
}
@font-face {
  font-family: R-Regular;
  src: url("./assets/fonts/rubik/Rubik-Regular.ttf");
}
@font-face {
  font-family: BaseNeue-Black;
  src: url("./assets/fonts/basenuew/BaseNeueTrial-Black.ttf");
}
@font-face {
  font-family: BaseNeue-Bold;
  src: url("./assets/fonts/basenuew/BaseNeueTrial-Bold.ttf");
}
@font-face {
  font-family: BaseNeue-Regular;
  src: url("./assets/fonts/basenuew/BaseNeueTrial-Regular.ttf");
}
@font-face {
  font-family: BaseNeue-Wide;
  src: url("./assets/fonts/basenuew/BaseNeueTrial-Wide.ttf");
}
@font-face {
  font-family: BaseNeue-SemiBold;
  src: url("./assets/fonts/basenuew/BaseNeueTrial-SemiBold.ttf");
}
@font-face {
  font-family: BaseNeue-ExpSemiBsd;
  src: url("./assets/fonts/basenuew/BaseNeueTrial-WideSemiBold.ttf");
}


p{
  font-family: "R-Light";
  font-size: 20px;
  color: #4D4D4D;
}
.sm{
  font-family: "R-Light";
  font-size: 17px;
  color: #4D4D4D;
}
.txt-white{
  color: white;
}

.ant-menu-title-content{
  font-family: "R-Regular";
  font-size: 16px;
  color: #4D4D4D;
}

h2{
  font-family: "BaseNeue-Bold";
  font-size: 25px;
}
h1{
  font-family: "BaseNeue-Bold";
  font-size: 35px;
}
.h1{
  font-family: "BaseNeue-SemiBold";
  font-size: 50px;
}
.h2{
  font-family: "BaseNeue-Wide";
  font-size: 46px;
}

.mt-2{
  margin-top: 25px;
}
.mt-4{
  margin-top: 40px;
}
.mt-5{
  margin-top: 60px;
}
.mt-l{
  margin-top: 100px;
}
.mt-1{
  margin-top: 15px;
}
.pill{
  padding:"10px 30px"; 
  background:"#eaf3fd"; 
  color:"#163e90"; 
  border-radius:"20px";
  font-size:"17px"
}
.ant-collapse-header-text{
    font-size: 20px;
    color: #4D4D4D;
}