* {
  /* font-family:; */
}

@font-face {
  font-family: R-Black;
  src: url("./assets/fonts/rubik/Rubik-Black.ttf");
}
@font-face {
  font-family: R-Light;
  src: url("./assets/fonts/rubik/Rubik-Light.ttf");
}
@font-face {
  font-family: R-Black-Bold;
  src: url("./assets/fonts/rubik/Rubik-Bold.ttf");
}
@font-face {
  font-family: R-Black-Extra;
  src: url("./assets/fonts/rubik/Rubik-ExtraBold.ttf");
}
@font-face {
  font-family: R-Medium;
  src: url("./assets/fonts/rubik/Rubik-Medium.ttf");
}
@font-face {
  font-family: R-Regular;
  src: url("./assets/fonts/rubik/Rubik-Regular.ttf");
}
@font-face {
  font-family: BaseNeue-Black;
  src: url("./assets/fonts/basenuew/BaseNeueTrial-Black.ttf");
}
@font-face {
  font-family: BaseNeue-Bold;
  src: url("./assets/fonts/basenuew/BaseNeueTrial-Bold.ttf");
}
@font-face {
  font-family: BaseNeue-Regular;
  src: url("./assets/fonts/basenuew/BaseNeueTrial-Regular.ttf");
}
@font-face {
  font-family: BaseNeue-SemiBold;
  src: url("./assets/fonts/basenuew/BaseNeueTrial-SemiBold.ttf");
}
@font-face {
  font-family: BaseNeue-ExpSemiBsd;
  src: url("./assets/fonts/basenuew/BaseNeueTrial-WideSemiBold.ttf");
}


p{
  font-family: "R-Light";
  font-size: 19px;
  color: #4D4D4D;
}

.ant-menu-title-content{
  font-family: "R-Regular";
  font-size: 16px;
  color: #4D4D4D;
}

h2{
  font-family: "BaseNeue-Bold";
}